<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container-fluid">
            <a class="navbar-brand page-scroll" href="#page-top">
                 <img class="logo" src="img/logo.png">
                {{site.title}}
            </a>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#getStarted">Get Started</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#toolkits">Toolkits</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bluemix">Bluemix</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#apacheEdgent">Apache Edgent</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contribute">Contributing</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom2 navbar-shrink">
        <div class="container-fluid">
            <a class="navbar-brand page-scroll" href="https://ibmstreams.github.io">
                 <i class="fa fa-chevron-left text-primary backIcon"></i>
                 Go back to home page.
            </a>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header
    <header>
        <div class="container">
            <div class="intro-text" >
                <!-- div class="intro-heading" >
                    <p>
                        Learning Resources
                    </p>
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
