{% capture html %}

{% if page.url contains 'Lab-1' %}
<script src=/tutorials/javascripts/L1.js> </script>
{% endif %}
{% if page.url contains 'Lab-2' %}
<script src=/tutorials/javascripts/L2.js> </script>
{% endif %}
{% if page.url contains 'Lab-3' %}
<script src=/tutorials/javascripts/L3.js> </script>
{% endif %}
{% if page.url contains 'Lab-4' %}
<script src=/tutorials/javascripts/L4.js> </script>
{% endif %}
{% if page.url contains 'Overview' %}
<script src=/tutorials/javascripts/Overview.js> </script>
{% endif %}
{% if page.url contains 'Reflections' %}
<script src=/tutorials/javascripts/Reflections.js> </script>
{% endif %}

{% endcapture %}{{ html | strip_newlines }}