{% capture html %}
<ul>
    <br>
    {% assign pages = site.pages | sort: "weight" %}
    {% assign j = 0 %}
    {% assign nextPageUrl = "" %}
    {% assign nextPageTitle = "" %}
    {% for currentPage in pages %}
    
            {% if j == 1 %}
    
                {% assign nextPageUrl = currentPage.url %}
                {% assign nextPageTitle = currentPage.title %}
                {% assign j = -1 %}
    
            {% endif %}
    
            {% if currentPage.url == page.url %}
    
                {% assign j = 1 %}
    
            {% endif %}
    
    {% endfor %}
{% if page.url == "/" %}
    <li class="nextPageLink">
        <b><a href="/tutorials/docs/spl-lab/Overview/Starting-up-your-Environment">Get started with streams!</a></b>
    </li>
    <br>
{% endif %}
    
{% unless page.url == "/" %}
    <li class="nextPageLink">
        <b><a href="/tutorials{{nextPageUrl}}">On to the next section - {{ nextPageTitle }}!</a></b>
    </li>
    <br>
{% endunless %}
</ul>
{% endcapture %}{{ html | strip_newlines}}
