<!DOCTYPE html>
<html>

  {% include head.html %}
  <body id="page-top" class="index">
    <div id="introduction">
      Welcome to <strong>IBM Streams Tutorials</strong>, a central hub containing online courses, guides, and labs to help you develop your skills in IBM Streams.
    </div>
    {% include header.html %}
    {% include getStarted.html %}
    {% include toolkits.html %}
    {% include bluemix.html %}
    {% include apacheEdgent.html %}
    {% include help.html %}
    {% include contributing.html %}
    {% include links.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
