<!DOCTYPE html>
{% include docHead.html %}

<html>
{% include docHeader.html %}

<body>

	<div class="container" id="content">
		<div class="row">
			<div class="nav col-sm-2 col-md-2 col-lg-2 sidebar text-right"
				style="padding-top:30px; background-color: aliceblue;"  >

				<ul class="nav nav-sidebar">
				</ul>
                {% if site.github_editme_path %}
                <a target="_blank" href="https://github.com/{{site.github_editme_path}}/{{page.path | replace: '.html', '.markdown'}}" class="btn btn-default githubEditButton text-center" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>
                {% endif %}
			</div>
			<div class="main col-sm-10 col-md-10 col-lg-10">
                {{content}}
                {% include ifStatements.html %}
		</div>

	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/tutorials/css/dist/js/bootstrap.min.js"></script>
</body>
</body>
</html>
